.main-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/5428830/pexels-photo-5428830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
}


.form-container1 {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #007bff;
}


.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    font-weight: 600;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #0056b3;
}


.link {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.loginn123 {
    color: #000000;
}
